<div class="container my-3">
  <form [formGroup]="productForm" (submit)="createProduct()" class="mt-4">
    <div class="mb-3">
      <label for="name" class="form-label">Name:</label>
      <input type="text" id="name" formControlName="name" class="form-control" placeholder="Enter product name">
      <div *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched" class="text-danger">
        <small *ngIf="productForm.get('name')?.errors?.['required']">Name is required.</small>
      </div>
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Price:</label>
      <input type="text" id="price" formControlName="price" class="form-control" placeholder="Enter product price">
      <div *ngIf="productForm.get('price')?.invalid && productForm.get('price')?.touched" class="text-danger">
        <small *ngIf="productForm.get('price')?.errors?.['required']">Price is required.</small>
        <small *ngIf="productForm.get('price')?.errors?.['pattern']">Price must be a number with up to 2 decimal
          places.</small>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="productForm.invalid">Create</button>
  </form>
</div>