<div class="container mt-5">
    <div class="jumbotron text-center">
      <h1 class="display-4">Welcome to Our Store!</h1>
      <p class="lead">We offer a wide range of products to meet all your needs.</p>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title">Explore our products or create a new one.</h5>
        <a routerLink="/product-list" class="btn btn-primary btn-space">Product List</a>
        <a routerLink="/product-create" class="btn btn-secondary">Create Product</a>
      </div>
    </div>
  </div>
  

  
  
  